{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faux Rhum</title>
    <link rel="shortcut icon" href="./assets/images/logoforum.png" />
    <link rel="stylesheet" href="./assets/css/index.css" />
    <link rel="stylesheet" href="./assets/css/mainPostStyle.css" />
  </head>

  <body>
    {{template "header" .}}

    <div class="full-page" id="pagepagepage">
      <!----------------------- 
              Ordre des posts / Format d'affichage / Mes posts...
       ----------------------->
      <div class="display-post">
        <div class="display-post-container">
          <div class="display-title">
            <h4>Change the order :</h4>
          </div>
          <div class="change-order-posts">
            <div id="newest">Latest posts</div>
            <div id="latest">Newest posts</div>
          </div>
          <div class="display-title">
            <h4>Change display format :</h4>
          </div>
          <div class="change-order-posts">
            <div id="grand" class="grand">
              <div>Big</div>
              <img src="./assets/images/rectangles-couple.png" alt="grand" />
            </div>
            <div id="moyen" class="moyen">
              <div>Medium</div>
              <img src="./assets/images/two.png" alt="moyen" />
            </div>
            <div id="compact" class="compact">
              <div>Small</div>
              <img src="./assets/images/justify.png" alt="compact" />
            </div>
          </div>
          {{if .cookieExist}}
          <div class="my-post-container">
            <h4 class="display-title">Show only :</h4>
            <a href="/myPosts">My posts</a><br />
            <a href="/myLikedPosts">Posts liked</a>
          </div>
          {{end}}
        </div>
      </div>

      <div class="page">
        <!-- Ajoute le titre -->
        <div class="latest-container">
          <div class="latest-post">
            <p id="post-text">Latest Posts</p>
          </div>
        </div>

        <!-- Ajoute le bouton pour ajouter un post -->
        {{if .cookieExist}}
        <div class="newpost-container">
          <a href="/newPost" class="newpost-redirect">
            <div>Add a new post</div>
          </a>
        </div>
        {{else}}
        <div class="log">
          <p>Please <a href="/logIn"> log in</a> to add a new post</p>
        </div>
        {{end}}

        <!-- ajoute les POSTS -->
        <div class="post-container">
          <div class="all-posts">
            {{range .allposts}}
            <div class="singlePost-container">
              <!-- ajoute le titre du poste -->
              <div class="title-post">{{.Title}}</div>
              <!-- ajoute le corps du poste -->
              <div class="body-post">
                <div class="message">
                  <p>{{.Body}}</p>
                </div>
                <div class="see-more">
                  <form action="/post" method="GET">
                    <button>
                      <input type="hidden" name="id" value="{{.Id}}" />
                      <p>See more...</p>
                    </button>
                  </form>
                </div>
              </div>

              <!------------------
              Block des POSTS 
            ------------------->
              <div class="author-post">
                <!-- ajoute les catégorie de trie -->
                <div id="cat-post" class="categories">

                  {{range .Category_Tab}}
                  <div class="categorie">
                    <div class="color">
                      <p class="each-cat">{{.}}</p>
                    </div>
                  </div>
                  {{end}}
                </div>
                <!-- Ajoute le nombre de like -->
                <div class="nb-like">
                  <p class="nb-like-comment">
                    {{.Like}} Like(s)<br />{{.NbComments}} Comments(s)
                  </p>
                </div>
                <!-- Ajoute l'auteur du post et le time -->
                <div class="author-time">
                  <p class="author">
                    <span class="created-by">posted by : </span>
                    {{$author := .Author}} {{if ne $author "user deleted"}}
                    <a class="user" href="/user?user={{$author}}"
                      >{{$author}}</a
                    >
                    <img src="{{.Photo}}" />
                    {{else}}
                    <a class="user">{{$author}}</a>
                    {{end}}
                  </p>
                  <span id="time-posted">{{.Date}}</span>
                </div>
              </div>
            </div>
            {{end}}
          </div>
        </div>
        <a class="pagepagepage" href="#pagepagepage">Top of the page</a>
      </div>
      <!----------------
          CATEGORIES
     ---------------->
      <div class="filter">
        <div class="filter-title">
          <p>Filter by Categories</p>
        </div>
        <div id="cat-cat">
          {{range $index , $value := .categories}}
          <form action="?" method="GET">
            <input type="hidden" name="categorie" value="{{index $value 0}}" />
            <button class="cat" style="background-color: {{index $value 1}}">
              <p class="name-categorie">{{index $value 0}}</p>
            </button>
          </form>
          {{end}}
        </div>
        <a href="/index">
        <button class="all">
            <p>All</p>
          </button>
        </a>
      </div>
    </div>
    {{template "footer"}}
  </body>
  <script src="./assets/js/index.js"></script>
</html>
{{end}}
