{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faux Rhum</title>
    <link rel="shortcut icon" href="./assets/images/logo.png" />
    <link rel="stylesheet" href="./assets/css/index.css" />
  </head>

  <body>
    {{template "header" .}}

    <div class="full-page">
      
    <!-- Filtre par catégories -->
    <div class="filter">
      {{range $index , $value := .categories}}
      <form action="?" method="GET" >
        <input type="hidden" name="{{$value}}" value="{{$index}}"> 
        <button  class="cat {{$value}}">
          <p>{{$value}}</p>
        </button>
      </form>
      {{end}}
    </div>

    <div class="page">
      <!-- Ajoute le titre -->
      <div class="latest-container">
        <div class="latest-post">
          <p>Latest Posts</p>
        </div>
      </div>

      <!-- Ajoute le bouton pour ajouter un commentaire -->
      {{if .cookieExist}}
      <div class="newpost-container">
        <a href="/newPost" class="newpost-redirect">
          <div>Ajouter un nouveau poste</div>
        </a>
      </div>
      {{else}}
      <div class="log">
        <p>Veuillez <a href="/logIn">vous connecter</a> pour ajouter un post</p>
      </div>
      {{end}}

      <!-- ajoute les POSTS -->
      <div class="post-container">
        <div class="all-posts">
          {{range .allposts}}
          <div class="singlePost-container">
            <!-- ajoute le titre du poste -->
            <div class="title-post">{{index . 0}}</div>
            <!-- ajoute le corps du poste -->
            <div class="body-post">
              <div class="message">
                <p>{{index . 1}}</p>
              </div>
              <div class="see-more">
                <form action="/post" method="GET">
                  <button>
                  <input type="hidden" name="id" value="{{index . 5}}">
                   <p>Lire la suite... </p></button>
                </form>
                
              </div>
            </div>

            <!-- Block des POSTS -->
            <div class="author-post">
              <!-- ajoute les catégorie de trie -->
              <div class="categories">
                {{range index . 7}}
              <div class="categorie">
                <div class="{{.}}">{{.}}</div>
              </div>  
              {{end}}
              </div>
              <!-- Ajoute l'auteur du post et le time -->
              <div class="author-time">
                <p class="author">
                  <span>post created by : </span
                  ><a id="user" href="/user?user={{index . 2}}">{{index . 2}}</a>
                  <img src="{{index . 4}}">
                </p>
                <span>{{index . 3}}</span>
              </div>
            </div>

          </div>
          {{end}}
        </div>
      </div>
    </div>
    
  </div>
    {{template "footer"}}
  </body>
</html>
{{end}}