body,
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-decoration: none;
  overflow-x: hidden;
}
.page {
  min-height: 1000px;
  width: 100vw;
  background-color: #eee;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 20px;
}
.post-container {
  width: 100vw;
  display: flex;
  min-height: 500px;
  justify-content: center;
}
.all-posts {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.singlePost-container {
  width: 70%;
  margin: 10px 0px 25px 0px;
}
.singlePost-container form {
  display: flex;
  justify-content: center;
}
.title-post {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.body-post {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.message {
  width: 90%;
  border: black 1px solid;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  font-size: 15px;
  background: #fff;
  height: 175px;
  overflow: hidden;
  width: 100%;
}
.message p {
  overflow: auto;
}
span {
  font-size: 12px;
}
#user {
  text-decoration: underline;
  color: rgb(0, 54, 201);
}
.newpost-container {
  margin-bottom: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
button {
  cursor: pointer;
  border: solid 0px;
}
.newpost-redirect {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  padding: 7px;
  border-radius: 12px;
  cursor: pointer;
  background: #9857ff;
}
.author {
  height: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.author img {
  height: 25px;
  padding: 0px 0px 0px 10px;
}
.author span {
  height: 100%;
  display: flex;
  padding-right: 5px;
  align-items: flex-end;
}
.latest-container {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest-post {
  height: 70px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: solid 1px black;
  border-radius: 10px;
  font-size: 48px;
}
.author-post {
  display: flex;
  justify-content: space-between;
}
.author-time {
  text-align: end;
}
.categories {
  font-size: 15px;
  display: flex;
  width: 280px;
  flex-wrap: wrap;
}
.categorie {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categorie div {
  font-size: 13px;
  margin: 5px;
  width: 83px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.gaming {
  background-color: #8a57a5;
}
.informatique {
  background-color: #FABD00;
}
.sport {
  background-color:#2DA49E;
}
.culture {
  background-color: #A58A77;
}
.politique {
  background-color: #738e9e;
}
.loisir {
  background-color: #BC0B27;
}
.sciences {
  background-color: #009BC4;
}
.sexualite {
  background-color: #FF5E5E;
}
.finance {
  background-color: #941066;
}
.see-more {
  width: 100%;
  border: solid 1px black;
  border-top: 0px;
  border-radius: 0px 0px 10px 10px;
}
.see-more button {
  width: 100%;
  font-size: 19px;
}
.see-more button:hover {
  background-color: #cfcfcf;
}