.post-container {
  width: 100%;
  display: flex;
  min-height: 500px;
  justify-content: center;
}

.all-posts {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.singlePost-container {
  width: 80%;
  margin: 10px 0px 25px 0px;
}

.singlePost-container form {
  display: flex;
  justify-content: center;
}

.title-post {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "Modusa";
}

.body-post {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Merriweather', serif;
}

.message {
  border: black 2px solid;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  font-size: 18px;
  background: white;
  height: 175px;
  overflow: hidden;
  width: 100%;
}

.message p {
  overflow: auto;
}

.post-part span {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

.user {
  text-decoration: underline;
  color: blue;
  max-width: 156px;
  font-size: 18px;
  font-family: 'Merriweather', serif;
}
.user:hover {
  text-decoration: underline;
  color: darkblue;
  font-size: 20px;
}

.newpost-container {
  margin-bottom: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.post-part button {
  cursor: pointer;
  border: solid 0px;
}

.newpost-redirect {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
  font-family: "Modusa";
  font-size: 22px;
  background-color: white;
}
.newpost-redirect:hover{
  cursor: pointer;
  background: linear-gradient(45deg, #DFA003, brown, yellow, brown, #DFA003);

}

.author {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.author img {
  height: 25px;
  padding: 0px 0px 0px 10px;
}

.author span {
  margin-right: 10px;
}

.latest-container {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;
}

.latest-post {
  height: 70px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border:black 2px solid;
  background: linear-gradient(45deg, #DFA003, brown, yellow, brown, #DFA003);
}

.author-post {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.author-time {
  justify-content: flex-end;
  text-align: end;
  width: 40%;
}

.categories {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  font-family: "Modusa";
}

.categorie {
  font-family: "Modusa";
  font-size: 16px;
  width: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categorie div {
  margin: 10px;
  width: 130px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  border-radius: 10px;
  text-transform: capitalize;
}

.see-more {
  width: 100%;
  border: solid 2px black;
  border-radius: 0px 0px 10px 10px;
  background-color: lightskyblue;
}
.see-more:hover {
  cursor: pointer;
  color: black;
  background: linear-gradient(45deg, #DFA003, brown, yellow, brown, #DFA003);
}

.see-more button {
  width: 100%;
  font-size: 20px;
  font-family: "Modusa";
  background-color: lightskyblue;
  border: none;
}

.see-more button:hover {
  cursor: pointer;
  color: black;
  background: linear-gradient(45deg, #DFA003, brown, yellow, brown, #DFA003);

}

.nb-like {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: 'Merriweather', serif;
  width: 30%;
  margin: 10px;
}
/* 
+----------------------------------------------------------------------+
| Scroll Bar
+----------------------------------------------------------------------+
*/
::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #DFA003;
}

::-webkit-scrollbar-button {
  height: 8px;
  background-color: black;
}

