body,
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-decoration: none;
  overflow-x: hidden;
}
.page {
    min-height: 1000px;
    width: 100%;
    background-color: #eee;
    padding-top: 90px;
    padding-bottom: 60px;
    font-size: 20px;
  }
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
#nb-post {
  display: flex;
  font-size: 35px;
}
#nb-like {
  display: flex;
  font-size: 35px;
}