body,
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-decoration: none;
  overflow-x: hidden;
}
.page {
  min-height: 1000px;
  width: 100vw;
  background-color: #eee;
  font-size: 30px;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.author {
  overflow: hidden;
}
.title {
  width: 100%;
  text-align: center;
}
.accept-reject-container {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.accept-reject button {
  width: 88%;
  border: solid 1px black;
  padding: 13px;
  margin: 10px;
  border-radius: 10px;
}
#accept {
  background-color: #85ec85;
}
#accept:hover {
  background-color: #6ccf6c;
}
#reject {
  background-color: #d47575;
}
#reject:hover {
  background-color: #bb5959;
}
.see-more div {
  display: flex;
  justify-content: center;
}
.message-full {
  min-height: 175px !important;
  height: unset !important;
}
.all-posts {
  overflow: hidden;
  margin-bottom: 40px;
  display: grid !important;
}
.img-posts{
  margin-top: 60px;
    border-top: solid 1px;
    padding-top: 30px;
}
.img-posts img {
  height: 230px;
  border: solid 1px black;
  margin: 10px;
}
.each-posts {
  justify-content: center;
  display: flex;
}