body,
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-decoration: none;
  overflow-x: hidden;
}
.page {
  min-height: 1000px;
  width: 100vw;
  background-color: #eee;
  padding-top: 140px;
  font-size: 20px;
}
.title-post {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.body-post {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.message {
  width: 55%;
  min-height: 150px;
  max-height: 90%;
  border: black 1px solid;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  background: #fff;
}
.author-post {
  text-align: end;
  margin-right: 22%;
}
.author {
  height: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.author img {
  height: 25px;
  padding: 0px 0px 0px 10px;
}
.author span {
  height: 100%;
  display: flex;
  padding-right: 5px;
  align-items: flex-end;
}
.comment-container {
  display: flex;
  justify-content: center;
  min-height: 150px;
}
.comment {
  border: solid 1px black;
  width: 50%;
  display: flex;
  min-height: 100px;
  border-radius: 10px;
  background: #fff;
  padding: 10px;
}
.auteur-comment, .date-comment {
  height: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
  margin-right: 25%;
}
form {
  display: flex;
  justify-content: center;
}

.author-comment {
  text-align: end;
  margin-right: 24.5%;
}
.author {
  height: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.author img {
  height: 25px;
  padding: 0px 0px 0px 10px;
}
.author span {
  height: 100%;
  display: flex;
  padding-right: 5px;
  align-items: flex-end;
}
.author-comment span, .author-post span {
  font-size: 13px;
}
#user {
  text-decoration: underline;
  color: rgb(0, 54, 201);
}
.log {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}
.log a {
  text-decoration: underline;
  color: rgb(0, 54, 201);
}
.form-del {
  position: absolute;
  top: 0;
  right: 22.5vw;
}
.message button {
  border: solid 1px black;
  padding: 5px;
  cursor: pointer;
}
.like {
  display: flex;
  justify-content: flex-end;
}
.like-button {
  justify-content: flex-end !important;
}
.nb-like {
  margin-left: 9px;
}
.comment, .comment-container {
  position: relative;
}
.full-comment {
  margin-bottom: 75px;
}
.del-comment {
  position: absolute;
  top: 0;
  right: 25vw;
  border: solid 1px black;
  cursor: pointer;
}
.invisible-likers{
  display: none;
}
.nb-like:hover .invisible-likers {
  display: initial;
  position: absolute;
  transform: translate(10px,-20px);
  background: white;
  padding: 8px;
  text-align: center;
  font-size: 15px;
  border: solid 1px black;
  border-radius: 10px;
}
.form-modif,
.form-modif-comment {
  width: 55%;
    min-height: 150px;
    max-height: 90%;
    border: black 1px solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    background: #fff;
    display: none;
}
.form-modif textarea {
  background-color: #f5f5f5;
  resize: none;
}
.add_comment {
  min-height: 100px;
  min-width: 250px;
  max-height: 300px;
  max-width: 980px;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}
#form-add-comment {
  display: grid;
}
#form-add-comment button {    
  border-radius: 0px 0px 10px 10px;
  border: solid 1px black;
  cursor: pointer;
}
#modif {
  height: 100%;
  width: 100%;
  border: none;
}
#display-modif {
  position: absolute;
  top: 0;
  right: 24.5vw;
  cursor: pointer;
}
.display-modif-comment img {
  position: absolute;
  top: 2px;
  right: 27vw;
  cursor: pointer;
}
.hide-message {
  display: none;
}
.see-modif {
  display: initial;
}
.del-post {
  cursor: pointer;
}
#display-modif img, 
.display-modif-comment img, 
.del-post img,
.del-comment img {
  height: 20px;
}
.modif-post {
  cursor: pointer;
}
.modifComment {
  background-color: #f5f5f5;
  resize: vertical;
  max-height: 300px;
  height: 80%;
  width: 100%;
  border: none;
}
.resize-box {
  width: 50%;
}
.text-add-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.all-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
}