body, * {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    overflow-x: hidden;
  }
  .page {
    min-height: 1000px;
    width: 100vw;
    background-color: #eee;
    padding-top: 60px;
    font-size: 60px;
  }
  .user-info {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    text-align: center;
  }
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
  }
  .title {
    font-size: 21px;
  }
  .age, .address, .fewWords {
    height: 170px;
    width: 300px;
    margin: 20px;
    border: solid 1px black;
    text-align: center;
    position: relative;
  }
  .page img {
    width: 230px;
  }
  .input-age, .age-hidden, .address-hidden, .input-address, .fewWords-hidden, .input-fewWords {
    display: none;
  }

  .modify {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    z-index: 1;
    cursor: pointer;
    border: solid 1px black;
    padding: 4px;
    height: 20px;
    width: 20px;
  }
.age-modifier-visible, .address-modifier-visible, .fewWords-modifier-visible {
  display: initial !important;
}
.photo-modifier-visible {
  display: flex !important;
  flex-wrap: wrap;
}
.photo {
  display: flex;    
  width: 100vw;
  justify-content: center;
  margin-top: 40px;
}
.photo-defini {
  position: relative;
}
.photo-container {
  background-color: pink;
  height: 500px;
  width: 270px;
  display: none;
  margin-left: 50px;
  justify-content: center;
}