{{define "allUsers"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/allUsers.css" />
    <link rel="shortcut icon" href="../assets/images/icone.png" />
    <title>Faux Rhum - All Users</title>
  </head>
  <body>
    {{template "header" .}}
    <div class="page">
        <form action="/user" method="get">
          <label for="user">Search a User</label>
          <input type="text" name="user" id="user">
          <button type="submit">submit</button>
        </form>
      <div class="users-container">
        <div class="all-users">
          {{$length := len .}} {{if gt $length 0}} {{template "aUser" .}}
          {{else}}
          <p>Aucun utilisateur enregistré</p>
          {{end}}
        </div>
      </div>
    </div>
    {{template "footer"}}
  </body>
</html>
<script>
  document.getElementById("all-users").classList.add("active");
</script>
{{end}} 

<!-- template for each user -->
{{define "aUser"}} 
  {{range .allUsers}}
    <div class="user-card">
    {{index . 0}}
    {{index . 1}}
    {{index . 2}}
  </div>
  {{end}} 
{{end}}
