{{define "header"}}
<link rel="stylesheet" href="../assets/css/header.css" />
<div class="header">
  <div class="header-container">
    <a href="/index" class="home-page">
      <img class="header-logo" src="../assets/images/logoforum.svg" alt="logo" />
      <div class="PF">
        <p><strong>Faux</strong></p>
        <p><strong>Rhum</strong></p>
      </div>
    </a>
    <div class="all-pages">
      <div class="pages-container">
        <div class="pages">
          <a href="/welcome" id="welcome">Welcome</a>
          <a href="/allUsers" id="all-users">All Users</a>
          <a href="/newPost" id="post">Post</a>
          {{if or (eq .role "admin") (eq .role "moderator")}}
          <a href="/pendingPosts" id="pending">Pending Posts</a>
          {{end}}
        </div>
        <div class="auth">
          {{if .cookieExist}}
          <div >
            <a class="account" href="/user?user={{.user}}">{{.user}}</a>
            {{if eq .role "admin"}}
            <div><img src="https://discord.com/assets/7d7c9561cc5ab5259ff8023b8ef86c99.svg" alt="admin"> Admin</div>
            {{else if eq .role "moderator"}}
            <div><img src="https://discord.com/assets/bd766f88fab518680708df9935b50e85.svg" alt="modo">Moderator</div>
            {{end}}
          </div>
          <div class="notif-bell">
            <img id="notif-btn" src="../assets/images/notification-inactive.png" alt="no-notif">
          </div>
          <button class="logout-btn" onclick='window.location.href="./logOut"'><a href="/logOut">Logout</a></button>
          {{else}}
          <button  class="login-btn" onclick='window.location.href="./logIn"'><a href="/logIn">Login</a></button>
          <a href="/SignUp" class="btn">Register</a>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>

{{if .cookieExist}}
<div class="notif-container">
  <div id="notif">
    <h3>Vos Notifications :</h3>
    {{$lenNotif := len .notif}}
    <div id="all-notif">
      {{if gt $lenNotif 0}}
      <form class="del-notif" action="" method="POST">
        <input type="hidden" name="del-notif" value="1">
        <input type="hidden" name="user" value="{{.user}}">
        <button><img id="del-notif" src="../assets/images/trash.png"></button>
      </form>
      {{range .notif}}
      <p class="notif"><strong>{{index . 1}}</strong> a&nbsp;<span class="action">{{index . 2}}</span>&nbsp;votre&nbsp;<a href="/post?id={{index . 0}}">post</a></p>
      {{end}}
      {{end}}
    </div>
  </div>
</div>
<script src="../assets/js/header.js"></script>
{{end}} 
{{if .cookieExist}}
{{template "disconnected" .}}
{{end}}
{{end}} 

<!-- footer -->
{{define "footer"}}
<link rel="stylesheet" href="../assets/css/footer.css" />
<div class="footer">
  <div class="left">
    <p><img class="okok" src="../assets/images/florian.png" alt="flo"> Florian : <a
        href="https://www.linkedin.com/in/florian-moracchini/">Linkedin</a></p>
    <p><img class="okok" src="../assets/images/sven.png" alt="sven"> Sven : <a
        href="https://www.linkedin.com/in/sven-dockx/">Linkedin</a></p>
  </div>
  <div class="troll">
    <div class="troll1">
      <p><strong>Faux</strong></p>
      <img src="../assets/images/logoforum.png" alt="logotroll">
      <p><strong>Rhum</strong></p>
    </div>
    <div class="troll2">
      <p>00 00 00 00 00</p>
      <p>contact@FauxRhum.com</p>
    </div>
  </div>
  <div class="right">
    <p><img class="okok" src="../assets/images/baptiste.png" alt="baptiste"> Baptiste : <a
        href="https://www.linkedin.com/in/baptiste-bouquier/">Linkedin</a></p>
    <p><img class="okok" src="../assets/images/brian.png" alt="brian"> Brian : <a
        href="https://www.linkedin.com/in/brian-peyre/">Linkedin</a></p>
  </div>
</div>
{{end}}

{{define "disconnected"}}
  <div class="disconnected-container">
    <div class="disconnected-wrapper">
      <h2>Your session expired.</h2>
      <h3>You have been disconnected</h3>
      <div class="reconnect-link">
        <a href="/logIn">Login</a>
        <a href="/index">Cancel</a>
      </div>
    </div>
  </div>
  <script>
    var cookieExist = "{{.cookieExist}}";
    var disconnected_container = document.getElementsByClassName("disconnected-container")[0]
    var disconnected_wrapper = document.getElementsByClassName("disconnected-wrapper")[0]
    if (cookieExist) {
      setTimeout(function () {
        disconnected_container.classList.add("activate")
        disconnected_wrapper.classList.add("activate")
      }, 1000 * 60 * 5);
    }
  </script>
{{end}}