{{define "header"}}
<link rel="stylesheet" href="../assets/css/header.css" />
<div class="header">
  <div class="header-container">
    <a href="/index" class="home-page">
      <img class="header-logo" src="../assets/images/logoforum.svg" alt="logo" />
      <div class="PF">
        <p><strong>Fa</strong>ux</p>
        <p>Rh<strong>um</strong></p>
      </div>
    </a>
    <div class="all-pages">
      <div class="pages-container">
        <div class="pages">
          <a href="/welcome" id="welcome">Welcome</a>
          <a href="/allUsers" id="all-users">All Users</a>
          <div class="lien3">lien 3</div>
          <div class="lien4">lien 4</div>
        </div>
        <div class="auth">
          {{if not .cookieExist}}
          <a href="/logIn" class="log-in">Se connecter</a>
          <a href="/SignUp" class="sign-in">S'inscrire</a>
          {{else}}
          <div>
            <p>Connecté en tant que :</p>
            <a class="account" href="/user?user={{.user}}">{{.user}}</a>
          </div>
          <a class="log-out" href="/logOut">Se déconnecter</a>
          {{end}}

        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../js/script.js"></script>
{{end}} {{define "footer"}}
<link rel="stylesheet" href="../assets/css/footer.css" />
<div class="footer"></div>
{{end}}