{{define "myLikedPosts"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Faux Rhum - My Liked Posts</title>
  <link rel="shortcut icon" href="../assets/images/logoforum.png" />
  <link rel="stylesheet" href="../assets/css/myPosts.css" />
  <link rel="stylesheet" href="../assets/css/mainPostStyle.css" />
</head>

<body>
  {{template "header" .}}
  <div class="page" id="pagepagepagepage">

    <div class="title">
      <h1>Posts Liked&nbsp;</h1>
      <span id="nb-like">(<p id="nb-likes"></p>)</span>
    </div>

    <!-- ajoute les POSTS -->
    <div class="post-container">
      <div class="all-posts">
        {{range .all_myLikedPosts}}
        <div class="singlePost-container">
          <!-- ajoute le titre du poste -->
          <div class="title-post">{{index . 0}}</div>
          <!-- ajoute le corps du poste -->
          <div class="body-post">
            <div class="message">
              <p>{{index . 1}}</p>
            </div>
            <div class="see-more">
              <form action="/post" method="GET">
                <button>
                  <input type="hidden" name="id" value="{{index . 5}}">
                  <p>See more... </p>
                </button>
              </form>

            </div>
          </div>

          <!-- Block des POSTS -->
          <div class="author-post">
            <!-- ajoute les catégorie de trie -->
            <div class="categories">

            </div>
            <!-- Ajoute l'auteur du post et le time -->
            <div class="author-time">
              <p class="author">
                <span>posted by : </span><a id="user" href="/user?user={{index . 2}}">{{index . 2}}</a>
                <img src="{{index . 4}}">
              </p>
              <span id="time-posted">{{index . 3}}</span>
            </div>
          </div>

        </div>
        {{end}}
      </div>
    </div>
    <a href="#pagepagepagepage">Top of the page</a>




  </div>
  {{template "footer"}}
</body>
<script src="../assets/js/myLikedPosts.js"></script>

</html>
{{end}}