{{define "post"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Faux Rhum - {{index .main_post 1}}</title>
  <link rel="stylesheet" href="./assets/css/post.css" />
  <link rel="shortcut icon" href="../assets/images/logoforum.png" />
</head>

<body>
  {{template "header" .}} {{$idMainPost := index .main_post 0}}
  <!-- prettier-ignore -->
  {{$userconnect := .user}}
  {{$role := .role}}

  <!----------------------
    POST PRINCIPAL
   ---------------------->
  <div class="page" id="pagepagepagepagepage">
    <div class="title-post">{{index .main_post 1}}</div>
    <div class="body-post">
      <div class="message">
        <p>{{index .main_post 2}}</p>
        <div class="imgposts">
          {{range index .imagepost 0}}
          <img class="each-images" src="{{.}}">
          {{end}}
        </div>
        <div id="img-fullscreen-container">
          <img id="img" src="">
        </div>
      </div>
      {{$user := index .main_post 3}} {{if or (eq $userconnect $user) (eq $role "admin") (eq $role "moderator")}}
      <!-- Bouton pour supprimer le post -->
      <form class="form-del" action="/delPost" method="POST">
        <input type="hidden" name="delPost" value="{{index .main_post 0}}" />
        <button class="del-post">
          <img src="../assets/images/trash.png" />
        </button>
      </form>
      <!-- Bouton pour modifier le post -->
      <div id="display-modif">
        <img src="../assets/images/edit-button.png" />
      </div>
      <form class="form-modif" action="/post?id={{index .main_post 0}}" method="post">
        <textarea type="text" name="modifPost" id="modif" cols="30" rows="10" required>
{{index .main_post 2}}</textarea>
        <input type="hidden" name="id-mainPost" id="confirm" value="{{index .main_post 0}}" />
        <button class="modif-post" required>Submit changes</button>
      </form>
      {{end}}
    </div>
    <!-- Auteur et time -->
    {{$author := index .main_post 3}}
    <div class="author-post">
      <p class="author">
        <span>post created by : </span>
        {{if ne $author "user deleted"}}
        <a id="user" href="/user?user={{$author}}">
          {{index .main_post 3}}
        </a>
        <img src="{{index .main_post 5}}" />
        {{else}}
        <a class="user" style="color: black; text-decoration: none;">{{$author}}</a>
        {{end}}
      </p>
      <span>{{index .main_post 4}}</span>

      <!-- LIKES -->
      <div class="like-container">
        <div class="like">
          <!-- LIKE lorsque l'utilisateur est connecté et qu'il n'a pas encore liké le post -->
          {{if and .cookieExist .already_liked}}
          {{if ne .already_disliked false}}
          <!-- prettier-ignore -->
          <form class="like-button" action="/post?id={{index .main_post 0}}" method="POST">
            <input type="hidden" name="Like" value="1" />
            <input type="hidden" name="id-post" value="{{index .main_post 0}}" />
            <input type="hidden" name="liker" value="{{$userconnect}}" />
            <input type="hidden" name="action" value="like" />
            <input type="hidden" name="userToSendNotif" value="{{index .main_post 3}}" />
            <button ><img src="/assets/images/like.svg" alt="like"></button>
          </form>
          {{end}}

          <!-- Enlever le LIKE lorsque l'utilisateur est connecté et qu'il a déjà liké le post -->
          {{else if .cookieExist}}
          <!-- prettier-ignore -->
          <form class="like-button" action="/post?id={{index .main_post 0}}" method="POST">
            <input type="hidden" name="Like" value="0" />
            <button style="cursor: pointer"><img src="/assets/images/dislike.svg" alt="dislike"></button>
          </form>
          {{end}}

          <span class="nb-like">
            {{index .main_post 6}} Like(s)
            <div class="invisible-likers">{{.mainPost_likedBy}}</div>
          </span>
        </div>
      </div>
      <div class="dislike-container">
        <div class="dislike">
          <!-- DISLIKE lorsque l'utilisateur est connecté et qu'il n'a pas encore liké le post -->
          {{if and .cookieExist .already_disliked}}
          {{if ne .already_liked false}}
          <!-- prettier-ignore -->
          <form class="dislike-button" action="/post?id={{index .main_post 0}}" method="POST">
            <input type="hidden" name="DisLike" value="1" />
            <input type="hidden" name="id-post" value="{{index .main_post 0}}" />
            <input type="hidden" name="disliker" value="{{$userconnect}}" />
            <input type="hidden" name="action" value="dislike" />
            <button style="cursor: pointer"><img src="/assets/images/like.svg" alt="like"></button>
          </form>
          {{end}}

          <!-- Enlever le LIKE lorsque l'utilisateur est connecté et qu'il a déjà liké le post -->
          {{else if .cookieExist}}
          <!-- prettier-ignore -->
          <form class="dislike-button" action="/post?id={{index .main_post 0}}" method="POST">
            <input type="hidden" name="DisLike" value="0" />
            <button style="cursor: pointer"><img src="/assets/images/dislike.svg" alt="dislike"></button>
          </form>
          {{end}}
          <span class="nb-dislike">
            {{index .main_post 7}} DisLike(s)
            <div class="invisible-dislikers">{{.mainPost_dislikedBy}}</div>
          </span>
        </div>
      </div>
    </div>

    <!----------------------
    Ajouter un commentaire
   ---------------------->
    {{if .cookieExist}}
    <div class="text-add-comment">
      <h3>Answer to the post</h3>
    </div>
    <div>
      <form action="/post?id={{index .main_post 0}}" method="POST" id="form-add-comment">
        <textarea type="text" name="add_comment" class="add_comment" cols="80" rows="5"></textarea>
        <input type="hidden" name="id-post" value="{{index .main_post 0}}" />
        <input type="hidden" name="liker" value="{{$userconnect}}" />
        <input type="hidden" name="action" value="comment" />
        <input type="hidden" name="userToSendNotif" value="{{index .main_post 3}}" />

        <button type="submit">Comments</button>
      </form>
    </div>
    {{else}}
    <div class="log">
      <p>
        Please <a href="/logIn">log in</a> to post a comment
      </p>
    </div>
    {{end}}

    <!----------------------
            TOUS LES COMMENTAIRES
           ---------------------->
    <div class="all-comments">
      <h3>All comments (<span id="nb-comment">0</span>)</h3>
    </div>
    {{range .comments}} {{$author := index . 1}}
    <div class="full-comment">
      <div class="comment-container">
        <div class="comment">
          <p class="text">{{index . 0}}</p>
        </div>
        {{if or (eq $author $userconnect) (eq $role "admin") (eq $role "moderator")}}
        <div class="display-modif-comment">
          <img src="../assets/images/edit-button.png" />
        </div>
        <!-- bouton pour supprimer commentaire -->
        <form action="/delComment" method="POST">
          <input type="hidden" name="delComment" value="{{index . 5}}" />
          <input type="hidden" name="id-mainPost" value="{{$idMainPost}}" />
          <button class="del-comment">
            <img src="../assets/images/trash.png" />
          </button>
        </form>
        <!-- Bouton pour modifier le commentaire -->
        <form class="form-modif-comment" action="/post?id={{$idMainPost}}" method="post">
          <textarea type="text" name="modifComment" class="modifComment" cols="30" rows="10" required>
{{index . 0}}</textarea>
          <input type="hidden" name="id-comment" class="confirm" value="{{index . 5}}" />
          <button class="modif-comment" required>Submit changes</button>
        </form>
        {{end}}
      </div>
      <div class="author-comment">
        <div class="author-time">
          <p class="author">
            <span>commented by : </span>
            {{$author := index . 1}}
            {{if ne $author "user deleted"}}
            <a id="user" href="/user?user={{$author}}">{{$author}}</a>
            <img src="{{index . 4}}" />
            {{else}}
            <a class="user">{{$author}}</a>
            {{end}}
          </p>
          <span>{{index . 2}}</span>
        </div>
      </div>
    </div>
    {{end}}
    <a href="#pagepagepagepagepage" class="toptop">Top of the page</a>
  </div>
  {{template "footer"}}
  {{template "disconnected" .}}
</body>
<script src="../assets/js/post.js"></script>

</html>
{{end}}